<div class="program">
<H1>{{name | escape}}</H1>
<div class="panel">
  <div class="vblock" id="vco1">
    <div class="block-label">VCO1</div>
    <div class="control">
      <span class="label">wave</span>
      <span class="setting">{{vco1_wave | escape}}</span>
    </div>
    <div class="rot-control" data-value="{{vco1_shape_hr}}">
        <span class="label">shape</span>
        <synth-knob value="{{vco1_shape_hr}}" title="{{vco1_shape_hr}}"></synth-knob>
    </div>
    {% if vco1_pitch_cents != 0 %}
      <div class="rot-control" data-value="{{vco1_pitch_hr}}">
        <span class="label">pitch</span>
        <synth-knob value="{{vco1_pitch_hr}}" title="{{vco1_pitch_cents}}c" class="shifted"></synth-knob>
      </div>
    {% else %}
    <div class="hidden-control">
      <span class="label">pitch</span>
      <span class="setting">{{vco1_pitch_cents}}c</span>
    </div>
    {% endif %}
    <div class="hidden-control">
      <span class="label">octave</span>
      <span class="setting">{{vco1_octave | escape}}</span>
    </div>
  </div>

  <div class="vblock" id="vco2">
      <div class="block-label">VCO2</div>
      <div class="control">
        <span class="label">octave</span>
        <span class="setting">{{vco2_octave | escape}}</span>
      </div>
      <div class="control">
        <span class="label">wave</span>
        <span class="setting">{{vco2_wave | escape}}</span>
      </div>
      <div class="control">
        <span class="setting">{{sync_ring | escape | replace: "OFF", "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}}</span>
      </div>
      <div class="rot-control" data-value="{{vco2_pitch_hr}}">
        <span class="label">pitch</span>
        <synth-knob value="{{vco2_pitch_hr}}" title="{{vco2_pitch_cents}}c"></synth-knob>
      </div>
      <div class="rot-control" data-value="{{vco2_shape_hr}}">
        <span class="label">shape</span>
        <synth-knob value="{{vco2_shape_hr}}" title="{{vco2_shape_hr}}"></synth-knob>
      </div>
  </div>

  <div class="vblock" id="mixer">
    <div class="block-label">MIXER</div>
    <div class="rot-control" data-value="{{vco1_level_hr}}">
      <span class="label">vc01</span>
      <synth-knob value="{{vco1_level_hr}}" title="{{vco1_level_hr}}"></synth-knob>
    </div>
    <div class="rot-control" data-value="{{vco2_level_hr}}">
      <span class="label">vc02</span>
      <synth-knob value="{{vco2_level_hr}}" title="{{vco2_level_hr}}"></synth-knob>
    </div>
  </div>

  <div class="vblock" id="filter">
    <div class="block-label">FILTER</div>
    <div class="rot-control" data-value="{{cutoff_hr}}">
      <span class="label">cutoff</span>
      <synth-knob value="{{cutoff_hr}}" title="{{cutoff_hr}}"></synth-knob>
    </div>
    <div class="rot-control" data-value="{{resonance_hr}}">
      <span class="label">resonance</span>
      <synth-knob value="{{resonance_hr}}" title="{{resonance_hr}}"></synth-knob>
    </div>
  </div>

  <div class="vblock">
    <div class="block-label">EG</div>
    <div class="hblock" id="EG">
      <div class="control" data-value="{{eg_type}}">
        <span class="label">type</span>
        <span class="setting">{{eg_type | escape}}</span>
      </div>
      <div class="rot-control" data-value="{{eg_attack_hr}}">
        <span class="label">attack</span>
        <synth-knob value="{{eg_attack_hr}}" title="{{eg_attack_hr}}"></synth-knob>
      </div>
      <div class="rot-control" data-value="{{eg_decay_hr}}">
        <span class="label">decay</span>
        <synth-knob value="{{eg_decay_hr}}" title="{{eg_decay_hr}}"></synth-knob>
      </div>
      <div class="rot-control" data-value="{{eg_int_hr}}">
        <span class="label">int</span>
        {% if eg_int_signed < 0 %}
        <synth-knob value="{{eg_int_hr}}" min-value="511" max-value="0"  class="shifted" title="{{eg_int_signed}}"></synth-knob>
        <!--
        <synth-knob value="{{eg_int_abs}}" max-value="511" class="shifted" title="{{eg_int_signed}}"></synth-knob>
        -->
        {% else %}
        <synth-knob value="{{eg_int_hr}}" min-value="512" max-value="1023"  title="{{eg_int_signed}}"></synth-knob>
        <!--
        <synth-knob value="{{eg_int_abs}}" max-value="511" title="{{eg_int_signed}}"></synth-knob>
        -->
        {% endif %}
      </div>
      <div class="control" data-value="{{eg_target}}">
        <span class="label">target</span>
        <span class="setting">{{eg_target | escape}}</span>
      </div>
    </div>

    <div class="block-label">LFO</div>
    <div class="hblock" id="LFO">
      <div class="control" data-value="{{lfo_type}}">
        <span class="label">type</span>
        <span class="setting">{{lfo_type | escape}}</span>
      </div>
      <div class="control" data-value="{{lfo_mode}}">
        <span class="label">mode</span>
        <span class="setting">{{lfo_mode | escape}}</span>
      </div>
      <div class="rot-control" data-value="{{lfo_rate_hr}}">
        <span class="label">rate</span>
        <synth-knob value="{{lfo_rate_hr}}" title="{{lfo_rate_vis}}"></synth-knob>
      </div>
      <div class="rot-control" data-value="{{lfo_int_hr}}">
        <span class="label">int</span>
        {% if lfo_int_signed < 0 %}
        <synth-knob value="{{lfo_int_hr}}" min-value="511" max-value="0" class="shifted" title="{{lfo_int_signed}}"></synth-knob>
        <!--
          <synth-knob value="{{lfo_int_abs}}" max-value="511" class="shifted" title="{{lfo_int_signed}}"></synth-knob>
        -->
        {% else %}
        <synth-knob value="{{lfo_int_hr}}" min-value="512" max-value="1023" title="{{lfo_int_signed}}"></synth-knob>
        <!--
        <synth-knob value="{{lfo_int_abs}}" max-value="511" title="{{lfo_int_signed}}"></synth-knob>
        -->
        {% endif %}
      </div>
      <div class="control" data-value="{{lfo_target}}">
        <span class="label">target</span>
        <span class="setting">{{lfo_target | escape}}</span>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="vblock" id="master">
    <div class="menu-control">
      <span class="label">program_level</span>
      <span class="setting">{{program_level}}</span>
    </div>
    <div class="rot-control" data-value="{{drive_hr}}">
        <span class="label">drive</span>
        <synth-knob value="{{drive_hr}}" title="{{drive_hr}}"></synth-knob>
    </div>
    <div class="control">
      <span class="label">octave</span>
      <span class="setting">{{keyb_octave | escape}}</span>
    </div>
  </div>

  <div class="vblock">
    <div class="control" data-value="{{seq_trig}}">
      <span class="label">key trg</span>
      <span class="setting">{{seq_trig | escape}}</span>
    </div>
  </div>
</div>

<div class="menu-settings">
  <div class="menu-column">
    <div class="menu-item">
      <span class="label">portamento time</span>
      <span class="setting">{{portament_time}}</span>
    </div>
    <div class="menu-item">
        <span class="label">portamento mode</span>
        <span class="setting">{{portament_mode}}</span>
    </div>
    <div class="menu-item">
      <span class="label">slide time</span>
      <span class="setting">{{slide_time}}</span>
    </div>
  </div>

  <div class="menu-column">
    <div class="menu-item">
      <span class="label">slider assign</span>
      <span class="setting">{{slider_assign}}</span>
    </div>
    <div class="menu-item">
      <span class="label">bend range +</span>
      <span class="setting">{{bend_range_pos}}</span>
    </div>
    <div class="menu-item">
      <span class="label">bend range -</span>
      <span class="setting">{{bend_range_neg}}</span>
    </div>
  </div>

  <div class="menu-column">
    <div class="menu-item">
      <span class="label">micro tuning</span>
      <span class="setting">{{micro_tuning}}</span>
    </div>
    <div class="menu-item">
      <span class="label">scale key</span>
      <span class="setting">{{scale_key}}</span>
    </div>
    <div class="menu-item">
      <span class="label">program tuning</span>
      <span class="setting">{{program_tuning | escape}}</span>
    </div>
  </div>

  <div class="menu-column">
    <div class="menu-item">
      <span class="label">lfo bpm sync</span>
      <span class="setting">{{lfo_bpm_sync | escape}}</span>
    </div>
    <div class="menu-item">
      <span class="label">cutoff keytrack</span>
      <span class="setting">{{cutoff_keytrack}}</span>
    </div>
    <div class="menu-item">
      <span class="label">cutoff velocity</span>
      <span class="setting">{{cutoff_velocity}}</span>
    </div>
    <div class="menu-item">
      <span class="label">amp velocity</span>
      <span class="setting">{{amp_velocity}}</span>
    </div>
    <div class="menu-item">
      <span class="label">program level</span>
      <span class="setting">{{program_level}}</span>
    </div>
  </div>
</div>
</div>