html {
  font-family: sans-serif;
  font-size: 0.8em;
}
.panel {
  display: inline-flex;
  flex-direction: row;
}
.program {
  display: inline-flex;
  flex-direction: column;
}
.vblock {
  border: solid 3px;
  display: flex;
  flex-direction: column;
  margin: 0.2em;
  padding: 0.2em;
+}
.hblock {
  display: flex;
  flex-direction: row;
}

.menu-settings {
  display: flex;
  flex-direction: row;
}
.menu-column {
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: solid 3px white;
  background-color: #ff4040;
  color: white;
}
.label {
  font-size: 0.6em;
}
.block-label {
  font-size: 0.9em;
}
.hidden-control {
  color: #909090;
}
.rot-control {
  display: flex;
  flex-direction: column-reverse;
}
.rot-control .label {
  /* align-self: center; */
}
synth-knob {
  width: 35px; height: 35px;
  color: black;
  border-color: #b0b0b0;
  /* flood-color: white; */

}
synth-knob.shifted {
  color: #d00000;
  flood-color: rgb(255, 204, 188)
}